<h1>I am the Sphinx!</h1>

<form action="/output" method="post">
  <h2>Your first riddle is: </h2>
  <p id="question1"><%= @question[0] %></p>
  <label for="answer1">Type your answer to the first riddle</label>
  <input type="text" name="answer1">

  <h2>Your second riddle is: <%= @question[1] %></h2>
  <label for="answer2">Type your answer to the second riddle</label>
  <input type="text" name="answer2">

  <button type="submit" name="button">Am I dead?</button>
</form>
